.idea
**/.DS_Store
**/*.iml

client/node_modules
client/src/app/app.js
client/src/app/app.js.map

server/**/*.pyc
server/**/.venv
server/**/*.egg-info
server/**/db.sqlite3
server/**/migrations
server/horseapi/build
server/horseapi/dist
